.container {
  font-family: sans-serif;
  padding-top: 8rem;
}

.destinationPage {
  padding: 0;
  margin: 0;
  background-color: #ECFBFF;
}

@media (min-width: 768px) {
  .content-container {
    padding: 0 10rem;
  }
}

@media (min-width: 1200px) {
  .content-container {
    padding: 0 20rem;
  }
}
