.gallery {
  background-color: #ecfbff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  width: 77%;
}

.galleryInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: 4rem 0;
}

.image {
  margin-right: 10px;
  font-size: 2rem;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.infoContainer{
  width: 18rem;
}

.squareContainer {
  position: relative;
  width: 100%;
  padding-bottom: 93%;
  border-radius: 10px;
  overflow: hidden;
}
