.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotated {
  transform: rotate(180deg);
}

.border{
  border-radius: 10px;

}

.expandableContainer {
  width: 60%;
  margin: 20px auto;
  font-family: sans-serif;
  background-color: #b8e1ff;
  border-radius: 10px;

}

.expandableContent {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem 4rem 2rem;
}

.expandableHeader {
  padding: 10px;
  background-color: #b8e1ff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.imageContainer {
  width: 40%;
  position: relative;
 
}

.listsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.routeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
   border-radius: 10px;
}
